.root {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.icon {
  margin-right: 4px;
  width: 20px;
  height: 20px;
}

.value {
  font-family: var(--font-mono);
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: white;
  opacity: 70%;
}

.valueContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.title {
  font-family: var(--font-pro-display);
  font-size: 14px;
  color: #4E5464;
}
