.screen {
  display: inline;

  height: 100%;
  overflow: hidden;

  position: relative;
}
.clock {
  display: inline-block;
}

.clock span {
  display: inline-block;
  position: relative;
  line-height: 1;
  margin-bottom: -4px;
}
.clock.is-off {
  animation: is-off 1s linear infinite !important;
}

.glitch .clock {
  transform: skewX(0deg) scaleY(1);
  animation: clock-bag 4s linear infinite;
}
.glitch .clock span:before,
.glitch .clock span:after {
  display: inline;
  content: attr(data-time);
  position: absolute;
  top: 0;
  color: #fff;
  background: #111;
  overflow: hidden;

  clip: rect(0, 900px, 0, 0);
}
.glitch .clock span:before {
  left: -2px;
  text-shadow: 2px 0 #00f;
  animation: c2 1s infinite linear alternate-reverse;
}
.glitch .clock span:after {
  left: 3px;
  text-shadow: -2px 0 #f00;
  animation: c1 2s infinite linear alternate-reverse;
}
@-moz-keyframes is-off {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  56% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  58% {
    opacity: 1;
  }
  71% {
    transform: scaleY(1) skewX(0deg);
  }
  72% {
    transform: scaleY(2) skewX(-60deg);
  }
  73% {
    transform: scaleY(1) skewX(0deg);
  }
  80% {
    opacity: 1;
  }
  81% {
    opacity: 0;
  }
  84% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  91% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #fff;
  }
  92% {
    transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    color: #008000;
    opacity: 0.8;
  }
  93% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #fff;
  }
}
@-webkit-keyframes is-off {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  56% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  58% {
    opacity: 1;
  }
  71% {
    transform: scaleY(1) skewX(0deg);
  }
  72% {
    transform: scaleY(3) skewX(-60deg);
  }
  73% {
    transform: scaleY(1) skewX(0deg);
  }
  80% {
    opacity: 1;
  }
  81% {
    opacity: 0;
  }
  84% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  91% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #fff;
  }
  92% {
    transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    color: #008000;
  }
  93% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #fff;
  }
}
@-o-keyframes is-off {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  56% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  58% {
    opacity: 1;
  }
  71% {
    transform: scaleY(1) skewX(0deg);
  }
  72% {
    transform: scaleY(3) skewX(-60deg);
  }
  73% {
    transform: scaleY(1) skewX(0deg);
  }
  80% {
    opacity: 1;
  }
  81% {
    opacity: 0;
  }
  84% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  91% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #fff;
  }
  92% {
    transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    color: #008000;
  }
  93% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #fff;
  }
}
@keyframes is-off {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  56% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  58% {
    opacity: 1;
  }
  71% {
    transform: scaleY(1) skewX(0deg);
  }
  72% {
    transform: scaleY(3) skewX(-60deg);
  }
  73% {
    transform: scaleY(1) skewX(0deg);
  }
  80% {
    opacity: 1;
  }
  81% {
    opacity: 0;
  }
  84% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  91% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #fff;
  }
  92% {
    transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    color: #008000;
  }
  93% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #fff;
  }
}

@keyframes c1 {
  0% {
    clip: rect(69px, 9999px, 22px, 0);
  }
  5% {
    clip: rect(5px, 9999px, 56px, 0);
  }
  10% {
    clip: rect(49px, 9999px, 68px, 0);
  }
  15.000000000000002% {
    clip: rect(30px, 9999px, 18px, 0);
  }
  20% {
    clip: rect(90px, 9999px, 24px, 0);
  }
  25% {
    clip: rect(41px, 9999px, 4px, 0);
  }
  30.000000000000004% {
    clip: rect(35px, 9999px, 75px, 0);
  }
  35.00000000000001% {
    clip: rect(42px, 9999px, 36px, 0);
  }
  40% {
    clip: rect(71px, 9999px, 68px, 0);
  }
  45% {
    clip: rect(29px, 9999px, 48px, 0);
  }
  50% {
    clip: rect(18px, 9999px, 16px, 0);
  }
  55% {
    clip: rect(31px, 9999px, 74px, 0);
  }
  60.00000000000001% {
    clip: rect(28px, 9999px, 59px, 0);
  }
  65% {
    clip: rect(5px, 9999px, 99px, 0);
  }
  70.00000000000001% {
    clip: rect(54px, 9999px, 77px, 0);
  }
  75% {
    clip: rect(16px, 9999px, 71px, 0);
  }
  80% {
    clip: rect(32px, 9999px, 75px, 0);
  }
  85% {
    clip: rect(13px, 9999px, 89px, 0);
  }
  90% {
    clip: rect(17px, 9999px, 37px, 0);
  }
  95% {
    clip: rect(46px, 9999px, 33px, 0);
  }
  100% {
    clip: rect(49px, 9999px, 84px, 0);
  }
}
@keyframes c2 {
  0% {
    clip: rect(31px, 9999px, 79px, 0);
  }
  5% {
    clip: rect(97px, 9999px, 98px, 0);
  }
  10% {
    clip: rect(52px, 9999px, 6px, 0);
  }
  15.000000000000002% {
    clip: rect(3px, 9999px, 97px, 0);
  }
  20% {
    clip: rect(68px, 9999px, 43px, 0);
  }
  25% {
    clip: rect(86px, 9999px, 71px, 0);
  }
  30.000000000000004% {
    clip: rect(92px, 9999px, 36px, 0);
  }
  35.00000000000001% {
    clip: rect(52px, 9999px, 86px, 0);
  }
  40% {
    clip: rect(92px, 9999px, 4px, 0);
  }
  45% {
    clip: rect(80px, 9999px, 18px, 0);
  }
  50% {
    clip: rect(23px, 9999px, 45px, 0);
  }
  55% {
    clip: rect(67px, 9999px, 94px, 0);
  }
  60.00000000000001% {
    clip: rect(99px, 9999px, 26px, 0);
  }
  65% {
    clip: rect(14px, 9999px, 61px, 0);
  }
  70.00000000000001% {
    clip: rect(75px, 9999px, 51px, 0);
  }
  75% {
    clip: rect(26px, 9999px, 91px, 0);
  }
  80% {
    clip: rect(45px, 9999px, 81px, 0);
  }
  85% {
    clip: rect(78px, 9999px, 85px, 0);
  }
  90% {
    clip: rect(8px, 9999px, 4px, 0);
  }
  95% {
    clip: rect(65px, 9999px, 65px, 0);
  }
  100% {
    clip: rect(45px, 9999px, 58px, 0);
  }
  23% {
    transform: scaleX(0.8);
  }
}

@keyframes clock-bag {
  1% {
    transform: scaleY(1) skewX(0deg);
  }
  1.5% {
    transform: scaleY(3) skewX(-60deg);
  }
  2% {
    transform: scaleY(1) skewX(0deg);
  }
  51% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
  }
  52% {
    transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
  }
  53% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
  }
}
