.body {
  border-radius: 20px;
}

.notification {
  display: flex;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}

.iconContainer {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 18px;
  height: 18px;

  path {
    fill: white;
  }
}

.messageContainerWithAnimation {
  display: flex;
  align-items: center;
  max-width: 0;
  opacity: 0;
  animation: slideIn 0.5s ease-out forwards, slideOut 0.5s ease-in 2.5s forwards;
  white-space: nowrap;
}

.message {
  font-family: var(--font-pro-display);
  font-size: 12px;
  font-weight: 400;
  color: white;
  padding: 0 16px 0 10px;
}

.achievement {
  background: #836eff;
}

.achievement .iconContainer {
  background: #5853f9;
}

.info {
  background: #6ab3f3;
}

.info .iconContainer {
  background: #418fcc;
}

.error {
  background: #971313;
}

.error .iconContainer {
  background: #B53A3A;
}

.success {
  background: #2B7409;
}

.success .iconContainer {
  background: #538B39;
}

@keyframes slideIn {
  from {
    max-width: 0;
    opacity: 0;
  }
  to {
    max-width: 300px;
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    max-width: 300px;
    opacity: 1;
  }
  to {
    max-width: 0;
    opacity: 0;
  }
}
