.root {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.card {
    background: #14151E80;
    padding: 16px;
    border-radius: 16px;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    text-align: center;
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 0;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.value {
    font-family: var(--font-pro-display);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 12px;
    color: #ffffff !important;
}

.title {
    font-family: var(--font-pro-display);
    font-size: 14px;
    color: #67718C;
}


