

.title {
    font-family: var(--font-pro-display);
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.description {
    font-family: var(--font-pro-display);
    font-size: 15px;
    text-align: center;
    color: #95A2C5;
    margin-bottom: 32px;
}

.rewards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 9px;
    margin-bottom: 40px;
}
